body{
    background-color: rgb(255, 244, 250);
    margin: 0px;
    font-size: 18px;
    font-family:'Comic Sans MS', cursive, sans-serif;
    color: rgb(112, 102, 98);
}

.sidemenu{
    right: 0px;
    height: 100%;
    position: fixed;
    background-image: linear-gradient(180deg, rgb(255, 229, 242), rgb(255, 229, 242), rgb(226, 250, 255));
    border: solid rgb(164, 150, 143) 2px;
    width: 350px;
    text-align: center;
    margin: 0px;
}

.topmenu{
    top:0px;
    height: 10%;
    width: 100%;
    position: fixed;
    background-image: linear-gradient(180deg, rgb(255, 229, 242), rgb(226, 250, 255));
    border: solid rgb(164, 150, 143) 2px;
    text-align: left;
    padding-top: 50px;
    padding-left: 50px;
    padding-right:  50px;
}

.skibidi{
    color: rgb(112, 102, 98);
    font-size: 18px;
    transition-duration: 0.2s;
    margin-right: 15px;
    position: relative;
    text-decoration: none;
}

.top{
    position: fixed;
    width: 100%;
    top: -40px;
    filter: brightness(1.05);
}

.skibidi:hover{

    color: rgb(255, 255, 255);
    transform: translateY(-10px);
    filter: drop-shadow(0px 0px 1px white) drop-shadow(1px 1px 0px #0000004d);

}

.about{
    top: 50%;
    border-image: url(https://i.pinimg.com/736x/35/ce/9d/35ce9d79ea2031489443c0827b6d9812.jpg) 4 fill round;
    border-width: 9px;
    border-style: solid;
    border-style: solid;
    left: 50%;
    top: 57%;
    font-size: 25px;
    transform: translate(-50%, -50%);
    position: fixed;
    width: 80%;
    text-align: center;
    height: 70%;
    filter: drop-shadow(0px 0px 1px white) drop-shadow(1px 1px 0px #0000004d);
    padding: 10px;
}

.deathnote{
    width: 70%;
    left: 50%;
    position: relative;
    transform: translateX(-50%);
    top: 20%;
    
}
h1, h2, h3, h4, h5, h6{
    color: rgb(123, 106, 99);
    text-decoration: underline;
    text-align: center;
}

.misa{
    position: fixed;
    width: 400px;
    bottom: 30px;
    right: 50px;
}
button{
    
    background-image: linear-gradient(180deg, #ffd9ed, rgb(255, 229, 242));
    border: solid 2.5px rgb(246, 193, 219);
    width: 180px;
    height: 55px;
    border-radius: 15px;
    font-size: 18px;
    margin: 10px;
    color: rgb(112, 102, 98);
    font-family:'Comic Sans MS', cursive, sans-serif;
    transition-duration: 0.2s;

}

button:hover {
    background-image: linear-gradient(180deg, #d9ebff, rgb(229, 252, 255));
    color: rgb(0, 0, 0);
    border: solid 5px rgb(255, 255, 255);
    transform: scale(1.1); 
    filter: drop-shadow(0px 0px 1px white) drop-shadow(1px 1px 0px #0000004d);
}

