body{
    margin: 0px;
    font-size: 18px;
    font-family:'Comic Sans MS', cursive, sans-serif;
    color: rgb(112, 102, 98);
    background-color: rgb(255, 246, 249);
    z-index: 0;
}

.sidemenu{
    right: 0px;
    height: 100%;
    position: fixed;
    background-image: linear-gradient(180deg, rgb(255, 229, 242), rgb(255, 229, 242), rgb(226, 250, 255));
    border: solid rgb(164, 150, 143) 2px;
    width: 350px;
    text-align: center;
    margin: 0px;
    filter: drop-shadow(0px 0px 1px white) drop-shadow(1px 1px 0px #0000004d);
}

.topmenu{
    top:0px;
    height: 10%;
    width: 100%;
    position: fixed;
    background-image: linear-gradient(180deg, rgb(255, 229, 242), rgb(226, 250, 255));
    border: solid rgb(164, 150, 143) 2px;
    text-align: left;
    padding-top: 50px;
    padding-left: 50px;
    padding-right:  50px;
    filter: drop-shadow(0px 0px 1px white) drop-shadow(1px 1px 0px #0000004d);
    z-index: 15;
}

.skibidi{
    color: rgb(112, 102, 98);
    font-size: 18px;
    transition-duration: 0.2s;
    margin-right: 15px;
    position: relative;
    text-decoration: none;
}

.top{
    position: fixed;
    width: 100%;
    top: -75px;
    filter: brightness(1.05);
    z-index: 99;

}

.skibidi:hover{

    color: rgb(255, 186, 215);
    transform: translateY(-10px);
    text-decoration: underline;

    filter: drop-shadow(0px 0px 1px white) drop-shadow(1px 1px 0px #ffffff4d);

}

.about{

    left: 50%;
    top: 57%;
    font-size: 25px;
    transform: translate(-50%, -50%);
    position: fixed;
    width: 80%;
    text-align: center;
    height: 70%;
    filter: drop-shadow(1px 1px 0px #0000004d);
    padding: 10px;
    font-size: 20px;
}


.dnchar{
    position: relative;
    display: flex;
    text-align: center;
    height: 70%;
    width: 100%;
    z-index: 1;
    padding-top: 95px;
    padding-bottom: 95px;
    box-sizing: border-box;
    align-items: flex-start;
    justify-content: space-around;
    margin-bottom: 25px;
    margin-top: -15px;

}

.textx {
    position: absolute;
    bottom: 110%;
    left: 50%;
    transform: translateX(-50%);
    background: white;
    border: 2px solid #9c8271;
    border-radius: 12px;
    padding: 8px 12px;
    font-size: 14px;
    white-space: nowrap;
    opacity: 0;
    pointer-events: none;
    transition: opacity 9.5s ease;
    transition-duration: 1s;
}

.char:hover .textx {
    opacity: 1;
    transform: translateX(-50%) translateY(0);
}



.char{
    height: 100%;
    transition-duration: 0.2s;
    position: relative;
    text-align: center;
}

.char:hover{
    transform: scale(1.02); 
    filter: drop-shadow(0px 0px 1px white) drop-shadow(3px 3px 3px #0000004d);
}
.thingy{
    top: 57%;
    left: 50%;
    font-size: 25px;
    transform: translate(-50%, -50%);
    position: absolute;
    width: 80%;
    text-align: center;
    height: 80%;

}
.deathnote{
    width: 70%;
    left: 50%;
    position: relative;
    transform: translateX(-50%);
    top: 5%;
    font-size: 20px;

}
h1, h2, h3, h4, h5, h6{
    color: rgb(123, 106, 99);
    text-decoration: underline;
    text-align: center;
}

.misa{
    position: fixed;
    width: 400px;
    bottom: 30px;
    right: 50px;
}

button{
    
    background-image: linear-gradient(180deg, #ffd9ed, rgb(255, 229, 242));
    border: solid 2.5px rgb(246, 193, 219);
    width: 180px;
    height: 55px;
    border-radius: 15px;
    font-size: 18px;
    margin: 10px;
    color: rgb(112, 102, 98);
    font-family:'Comic Sans MS', cursive, sans-serif;
    transition-duration: 0.2s;

}

button:hover {
    background-image: linear-gradient(180deg, #d9ebff, rgb(229, 252, 255));
    color: rgb(0, 0, 0);
    border: solid 5px rgb(255, 255, 255);
    transform: scale(1.1); 
    filter: drop-shadow(0px 0px 1px white) drop-shadow(1px 1px 0px #0000004d);
}

