body{
    background-color: rgb(255, 244, 250);
    margin: 0px;
    font-size: 18px;
    font-family:'Comic Sans MS', cursive, sans-serif;
    color: rgb(112, 102, 98);
}

.sidemenu{
    right: 0px;
    height: 100%;
    position: fixed;
    background-image: linear-gradient(180deg, rgb(255, 229, 242), rgb(255, 229, 242), rgb(226, 250, 255));
    border: solid rgb(164, 150, 143) 2px;
    width: 350px;
    text-align: center;
    margin: 0px;
}

.topmenu{
    top:0px;
    height: 10%;
    width: 100%;
    position: fixed;
    background-image: linear-gradient(180deg, rgb(255, 229, 242), rgb(226, 250, 255));
    border: solid rgb(164, 150, 143) 2px;
    text-align: left;
    padding-top: 50px;
    padding-left: 50px;
    padding-right:  50px;
}

.skibidi{
    color: rgb(112, 102, 98);
    font-size: 18px;
    transition-duration: 0.2s;
    margin-right: 15px;
    position: relative;
    text-decoration: none;
}

.top{
    position: fixed;
    width: 100%;
    top: -30px;
    filter: brightness(1.05);
}

.skibidi:hover{

    color: rgb(255, 255, 255);
    transform: translateY(-10px);

}

.about{
    background-color: white;
    top: 50%;
    border: solid rgb(164, 150, 143) 2px;
    left: 50%;
    top: 57%;
    transform: translate(-50%, -50%);
    position: fixed;
    width: 80%;
    height: 70%;
    padding: 10px;
}

button{
    
    background-image: linear-gradient(180deg, #ffd9ed, rgb(255, 229, 242));
    border: solid 2.5px rgb(246, 193, 219);
    width: 180px;
    height: 55px;
    border-radius: 15px;
    font-size: 18px;
    margin: 10px;
    color: rgb(112, 102, 98);
    font-family:'Comic Sans MS', cursive, sans-serif;
    transition-duration: 0.2s;

}

button:hover {
    background-image: linear-gradient(180deg, #ffd9ed, rgb(255, 229, 242));
    color: rgb(0, 0, 0);
    border: solid 5px rgb(255, 255, 255);
    transform: scale(1.1); 
}

