.desktop{
    width: 70%;
    border: 10px solid;
    border-radius: 50px;
    background-image: url('../assets/wallpaper.png');
    background-size:cover;
    height: 90vh;
    position: relative;
    border-color: rgb(207, 207, 207);
    margin: auto;
    margin-top: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    font-size: 10px;
    text-align: center;
    padding: 5px;
    overflow: hidden;
}

.desktop2{
    width: 70%;
    border: 10px solid;
    border-radius: 50px;
    background-color: rgb(255, 247, 250);;
    background-size:cover;
    height: 90vh;
    position: relative;
    border-color: rgb(207, 207, 207);
    margin: auto;
    margin-top: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    font-size: 15px;
    text-align: center;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 5px;
}


.creatorz{
    width: 70%;
    height: 20%;
    margin: auto;
    margin-top: 25px;
    position: relative;
}

input::placeholder,
textarea::placeholder {
  color: #bc9c8a;
  font-style: italic;
  opacity: 1;
}

.form-container{
    position: relative;
    padding: 30px;
    margin: auto;
    width: 50%;
    height: auto;
    text-align: center;
    border: solid 1px;
    border-color: rgb(136, 103, 87);
    border-radius: 30px;
    box-shadow: 0 0 10px rgba(113, 87, 70, 0.5);
    background-color: rgb(255, 243, 250);
    top: 30vh;
}

.logogo{
    position: fixed;
    z-index: 1;
}
.misamisa{
    position: fixed;
    z-index: 0;
    bottom: -20px;
    animation: floaty 3s ease-in-out infinite;
}

.top-menu{
    width: 100%;
    height: 90px;
    border: solid 2px rgb(180, 166, 159);
    top: 0px;
    background-color: rgb(255, 245, 249);
    box-shadow: 0 0 10px rgba(223, 207, 197, 0.5);
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: left;
    position: fixed;
    z-index: 100;
    display: flex;
    align-items: center;
}

.gfgfg img {
    object-fit: cover;
}

.woohoo img {
    object-fit: cover;
}

.gfgfg{
    background-color: rgb(245, 249, 255);
    width: 400px;
    overflow: hidden;
    height: 670px;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(155, 130, 114, 0.5);
    margin-top: 3px;
    margin-left: 60px;
    position: relative;
    float: left;
    align-items: center; 
    justify-content: flex-start; 
    border: 1.3px solid;
    border-color: white;
    justify-content: flex-start; 
    margin-bottom: 15px;
}

.woohoo{
    background-color: rgb(245, 249, 255);
    width: 1000px;
    overflow: hidden;
    height: auto;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(155, 130, 114, 0.5);
    margin: auto;
    position: relative;
    align-items: center; 
    justify-content: flex-start; 
    border: 1.3px solid;
    border-color: white;
    justify-content: flex-start; 
    margin-bottom: 15px;
}

footer {
    background-color: rgba(255, 244, 251, 0.7);
    text-align: left;
    font-size: 9px;
    color: #90867f;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 200;
    padding-left: 15px;
    padding-right: 15px;
    height: 50px;
    overflow: auto;
}

.white-top{
    width: 100%;
    position: fixed;
    background-color: white;
    height: 50%;
    top: 220px;
}
.gfgfg .about {
    position: absolute;
    bottom: 10px;
    left: 50%;
    width: 450px;
    height: 100px;
    transform: translateX(-50%);
    background: white;
    border: 1px solid #9c8271;
    border-radius: 12px;
    padding: 8px 12px;
    font-size: 13px;
    white-space: normal;
    max-width: 90%;
    text-align: center;
    overflow-y: auto;
}

.woohoo .about {
    position: absolute;
    bottom: 10px;
    left: 50%;
    width: 1000px;
    height: 50px;
    transform: translateX(-50%);
    background: rgb(255, 250, 252);
    border: 1px solid #9c8271;
    border-radius: 12px;
    padding: 8px 12px;
    font-size: 13px;
    white-space: normal;
    max-width: 90%;
    text-align: center;
    overflow-y: auto;
}

.skibidi{
   color: rgb(112, 102, 98);
   font-size: 15px;
   transition-duration: 0.2s;
   margin-right: 15px;
   position: relative;
   text-decoration: none;
}

.skibidi:hover{
   color: rgb(244, 183, 208);
   text-decoration: underline;
   filter: drop-shadow(0px 0px 1px white) drop-shadow(1px 1px 0px #ffffff4d);
}

.ori{
    position: fixed;
    z-index: 0;
    bottom: -20px;
    right: 0px;
    animation: floaty 3s ease-in-out infinite;
}
@keyframes floaty {
    0%   { transform: translateY(0px); }
    50%  { transform: translateY(-15px); }
    100% { transform: translateY(0px); }
}

h1{
    color: #ffffff;
    text-shadow:
    0 0 5px #ffb6d9,
    0 0 10px #f1a4cb,
    0 0 20px #ff80cc;
}

.sus{
    width: 50%;
    height: 500px;
    margin-top: 270px;
    position: relative;
    margin-left: 80px;
    text-align: center;
}

.sigma{
    position: fixed;
    bottom: -30px;
    right: 0px;
    z-index: 100;
    animation: floaty 3s ease-in-out infinite;
}

.bg{
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 0;
}

.sprite{
    z-index: 100;
    position: fixed;
    bottom: -70px;
    left: 50%;
    transform: translateX(-50%);
}

.spriteo{
    z-index: 100;
    position: fixed;
    bottom: -70px;
    left: 40%;
    transform: translateX(-50%);
}

#cname{
    color: #73625c;
    text-shadow:
    0 0 5px #ff8dc4,
    0 0 20px #ff91d3;
}

#tbox{
    width: 800px;
    height: 150px;
    position: fixed;
    z-index: 101;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0px;
    margin-bottom: 15px;
    background-color: rgb(255, 240, 246);
    border: 3px solid white;
    border-radius: 15px;
    padding: 10px;
}
.menu{
    position: relative;
    margin: auto;
    width: 550px;
    height: 550px;
    border: solid 1px;
    border-radius: 50%;
    text-align: center;
    align-items: center;
    background-color: rgb(255, 235, 243);
    border-color: rgb(159, 145, 137);
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    top: 10vh;
}

#next{
    position: fixed;
    bottom: 0px;
    right: 0px;
}
button{
   background-image: linear-gradient(180deg, #fff7fc, rgb(255, 250, 252));
   position: relative;
   border: solid 2.5px rgb(241, 219, 230);
   width: 200px;
   height: 55px;
   border-radius: 15px;
   font-size: 15px;
   color: rgb(148, 132, 125);
   font-family:'Comic Sans MS', cursive, sans-serif;
   transition-duration: 0.1s;
   margin-bottom: 10px;
}

button:hover {
   background-image: linear-gradient(180deg, #fafcff, rgb(247, 254, 255));
   border: solid 2.5px rgb(213, 222, 232);
   transform: scale(1.1);
   box-shadow: 0 0 10px rgba(223, 207, 197, 0.5);
}

.X{
    width: 25px;
    height: 25px;
    border: 1px solid rgb(136, 103, 87);
    border-radius: 15px;
    background-color: white;
    position: relative;
    left: 25px;
    top: 25px;
    transition-duration: 0.2s;
    text-align: center;

}

.X:hover{
    width: 30px;
    height: 30px;
    font-size: 20px;
    box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.2), 0 3px 3px 0 rgba(0, 0, 0, 0.19);
}

.thingy{
  background: url('https://i.pinimg.com/736x/89/87/be/8987be01d4c8ff5b66880fbd7a7d832e.jpg');
  background-size: 100%;
  text-align: left;
  margin-top: 5px;
  overflow-y: auto;
  height: auto;
  margin: auto;
  width: 70%;
  padding-right: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 30px;
  border-color: rgb(178, 157, 145);
  border: solid 1px;
  color:rgb(136, 103, 87);
  padding-left: 85px;
  font-size: 15px;
  margin-bottom: 25px;
}

body{
   font-size: 15px;
   font-family:'Comic Sans MS', cursive, sans-serif;
   color: rgb(117, 97, 89);
   background-color: rgb(255, 246, 249);
   z-index: 0;
}

.keyboard{
    position: relative;
    width: 80%;
    border: 10px solid;
    border-radius: 50px;
    margin: auto;
    border-color: rgb(182, 182, 182);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.app{
    width: 90px;
    transition-duration: 0.2s;
    left: 48%;
    top: 40%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;  
}



.app:hover{
    filter: brightness(110%);

}