body{
    background-color: rgb(255, 239, 247);
    margin: 0px;
    font-size: 25px;
    font-family:'Comic Sans MS', cursive, sans-serif;
}

.sidemenu{
    right: 0px;
    height: 100%;
    position: fixed;
    background-image: linear-gradient(180deg, rgb(255, 229, 242), rgb(255, 229, 242), rgb(226, 250, 255));
    border: solid rgb(164, 150, 143) 2px;
    width: 350px;
    text-align: center;
}


.test{


 background-color: rgb(239, 252, 255);

}

button{
    
    background-image: linear-gradient(180deg, #ffd9ed, rgb(255, 229, 242));
    border: solid 2.5px rgb(246, 193, 219);
    width: 180px;
    height: 55px;
    border-radius: 15px;
    font-size: 18px;
    margin-bottom: 15px;
    color: rgb(112, 102, 98);
    font-family:'Comic Sans MS', cursive, sans-serif;
    transition-duration: 0.2s;

}

button:hover {
    background-image: linear-gradient(180deg, #ffd9ed, rgb(255, 229, 242));
    color: rgb(0, 0, 0);
    border: solid 5px rgb(255, 255, 255);
    transform: scale(1.1); 
}